#month-selector {
    display: none;
}

#data-selector-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#year-selector::-webkit-outer-spin-button,
#year-selector::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#year-selector {
    -moz-appearance: textfield;
    display: none;
}